div.alert {
	padding: 0.5em 2.25em 0.5em 1.25em;
	border: 2px solid transparent;
	border-radius: 1.25em;
	font-size: 1em;
}

div.alert-check {
	border-color: #2e7d32;
	background-color: rgba(46, 125, 50, 0.413);
}

div.alert-info {
	border-color: #1976d2;
	background-color: rgba(25, 118, 210, 0.413);
}

div.alert-x {
	border-color: #c62828;
	background-color: rgba(198, 40, 40, 0.413);
}

#page-content p.alert-title {
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
	padding: 0;
}

#page-content div.alert-icon {
	width: 1.4em;
	height: 1.4em;
	margin-right: 0.5em;
	display: inline-block;
	mask-size: 100%;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	mask-position: center;
	background-color: currentColor;
	vertical-align: middle;
	padding-bottom: 0;
}

#page-content p.alert-body {
	padding-top: 0.5em;
	padding-bottom: 0.25em;
	padding-left: 2.25em;
}

div.icon-check {
	mask-image: url(/assets/icons/check.svg);
}

div.icon-info {
	mask-image: url(/assets/icons/info.svg);
}

div.icon-x {
	mask-image: url(/assets/icons/x.svg);
}